*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
build.gradle
gradle.properties
gradle/
gradlew
gradlew.bat
settings.gradle
.idea/workspace.xml
__pycache__/function.cpython-35.pyc
__pycache__/lintcode.cpython-35.pyc
